.header{
    background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-03/1647379836_53-vsegda-pomnim-com-p-ozero-zimnee-foto-60.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}