*{
    margin: 0;
}
header{
    background-image: url(img/forest.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder ;
    color: #fff;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.facebook{
    margin: 25px;
}